.vidlist {
  margin-bottom: 1rem;
  cursor: pointer !important;
}

.videoitem {
  display: grid !important;
  grid-template-columns: auto 200px !important;
  align-items: center !important;
  gap: 1rem;
}

.videoitem img {
  max-width: 200px !important;
  height: 132px !important;
}
